@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Public+Sans:wght@100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
   background:linear-gradient( to right, #051937, #002768, #273199, #5f30c6, #9f12eb );
}

.all{
    padding: 15px 50px 100px 50px;
    height: 813px;
    width: 1277px;
}

.top{
    height: 87px;
    width: 1177px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-bottom: 15px;
    display: block;
}

.boxes{
    height: 611px;
    width: 1177px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.boxx{
    height: 298px;
    width: 382px;
    padding: 30px 20px 30px 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s; 
}

.boxx:hover{
    transform: scale(1.06);
}

.boxx img{
    height: 80px;
    width: 70.390px;
    display:inline-block;
    
}

h3{
    height: 53px;
    width: 342px;
    padding: 10px 0 10px 0;
    font-size: 22px;
    font-weight: 900;
}

p{
    font-size: 15px;
    color: #777777;
}

.press{
    font-size: 16px;
    display: inline-block;
    height: 42px;
    width: 144px;
    margin-top: 10px;
    padding: 8px 25px 8px 25px;
    background-color: #333333;
    color: white;
    border-radius: 7px;
    text-decoration: none;

}

